@import 'modules/_breakpoints';
@import 'modules/_typography';
@import 'modules/_palette';
@import 'modules/_grid-system';
@import 'modules/_mq';
@import 'modules/_side-margins';
@import 'margins';

$nhsGreen: #5BC4BF;
$nhsDarkGreen: #45B7B1;

$guardianBlue: #00427A;
$nhsLightBlue: #228ABC;
$nhsDarkerBlue: #177CAC;
$nhsDarkBlue: #146388;

$nhsGrey: #DAE3E7;
$nhsDarkGrey: #43525A;
$nhsWhite: #fff;

body {
    margin: 0;
    padding: 0;
    color:#333;
}

// Remove <figure> margin
.interactive {
    margin: 0;

    .gv-wrapper{
    	position: relative;
    }
    *, * *{
    	box-sizing:border-box;
    }
    h1,h2,h3,h4,h5{
    	font-family:$f-serif-headline;
    }
    #interactive-header{
    	background-color: $nhsGreen;
    	padding:20px 10px 0;

    	h1{
    		color:$guardianBlue;
    		margin:0;
    		line-height:1em;
    		font-size:18px;
    	}

    	h2{
    		color:$nhsWhite;
    		font-weight:100;
    		line-height:1em;
    		font-size:40px;
    		margin:0;
    		max-width:540px;
    	}
        #intro-text{
            font-family:$f-serif-headline;
            font-size:18px;
            line-height:1.25em;
            color:#fff;
            font-weight:400;
            margin-top:24px;
            margin-bottom:0;
            max-width:620px;
            &:before{
                height:1px;
                width:60px;
                background:#fff;
                display:block;
                content:'';
                margin-bottom:4px;
            }
        }

    	#header-details-container{
            z-index:1;
            position:relative;
            background:rgba(0,0,0,0.1);
            margin-left:-10px;
            margin-right:-10px;
            margin-top:54px;
            padding-bottom:36px;
            padding-top:12px;
    		p{
    			font-family:$f-serif-headline;
    			line-height:1.4em;
                font-size:18px;
                color:#fff;
                font-weight:400;
                margin:0 10px;
                max-width:620px;
                &.action-sentence{
                    font-weight:bold;
                }
                #total-number{
                    background: rgba(0,0,0, 0.1);
                    padding: 4px 10px;
                    border-radius: 20px;
                    font-weight:500;
                }
    		}
            select{
                font-size:14px;
                border-color:#fff;
                height:20px;
                border:none;
                background:#fff;
                font-family:$f-sans-serif-text;
                vertical-align: bottom;
                margin-bottom:4px;
            }
    	}
    }

    #interactive-content{
    	padding:0 10px;
    	position: relative;
    }

    #questions-container{
    	margin-bottom:30px;

    	#title-question{
    		margin-bottom:24px;
            padding-top:12px;
    		h2{
    			font-size:18px;
    			line-height:1.25em;
    			margin:0;
    		}
    		p{
    			margin:4px 0 0 ;
    			font-family: $f-sans-serif-text;
    			color:#aaa;
    			font-size:14px;
                line-height: 1.25em;

    		}
    	}
    	.question-container{
    		min-height:0;
    		transition: min-height 0.6s;
    		position: relative;
            overflow: hidden;

    		&.order-0{
    			background-color:$nhsDarkerBlue;
    			margin-right:20px;
    		}
    		&.order-1{
    			background-color:$nhsLightBlue;
    			margin-left:20px;
    		}
    		.question-intro{
    			color:$nhsWhite;
    			padding:24px 10px;
    			// margin-left:30px;
    			position: relative;
    			cursor: pointer;
    			&:hover{
    				h3{
    					text-decoration: underline;
    				}
    			}
    		}
    		h3{
    			font-size:16px;
    			line-height:1.1em;
    			margin:0;
    		}
    		h4{
    			margin:0;
    			font-family:$f-sans-serif-text;
    			font-size:12px;
    			font-weight:normal;
    		}
    		.hidden-container{
    			opacity:0;
    			position: absolute;
    			z-index:-2;
    			padding:1px 10px 12px;
                width:100%;
    			ul{
    				margin:0;
    			}
    		}
    	}
    	.state-expanded{
    		&.order-0{
    			background-color: darken($nhsDarkerBlue,3%);
    		}
    		&.order-1{
    			background-color: darken($nhsLightBlue,3%);
    		}

    		.hidden-container{
    			animation: appear 1s;
    			z-index:1;
    			opacity:1;
    			// position:relative;
    		}
    		.question-radio-button{
    			border-color: $nhsDarkBlue;
    			&:before{
    				transform: scale(1);
    			}
    		}
    		.question-intro{
    			&:hover{
    				h3{
    					text-decoration: none;
    				}
    			}
    		}
    	}

    	.state-collapsed{
    		.hidden-container{
    			animation: disappear 1s;
    			opacity:0;
    			position:absolute;
    		}
    	}
    	.treatment-list{
    		padding:0;
    		list-style:none;
    		li{
    			color:$nhsWhite;
    			font-size:14px;
    			font-family: $f-serif-headline;
    			font-weight:bold;
    			line-height:1em;
    			padding: 12px 0;
    			border-top:1px solid rgba(255,255,255,0.1);
    			cursor:pointer;
    			position: relative;
    			
    			&:after{
    				clear:both;
    				content:'';
    				display:block;
    			}
    			&:hover{
    				.treatment-name{
    					text-decoration: underline;
    				}
    				
    			}
    			.treatment-radio-button{
    				width:12px;
    				height:12px;
    				border-radius:10px;
    				border:1px solid $nhsDarkBlue;
    				display:block;
    				background-color:#fff;
    				float:left;
    				left:0;
    				position: absolute;
                    top:50%;
                    margin-top:-6px;
    				&:before{
    					display:block;
    					width:6px;
    					height:6px;
    					border-radius:6px;
    					content:'';
    					margin-left:2px;
    					margin-top:2px;
    					background-color:$nhsDarkBlue;
    					transform: scale(0);
    					transition:transform 100ms;
                        backface-visibility: hidden;
    				}
    			}
    			&.added{
    				.treatment-radio-button:before{
    					transform: scale(1);
    				}
    			}
    			.treatment-price{
    				position: absolute;
    				right:0;
    				top:12px;
    				font-weight:100;
    				width:60px;
    				text-align: right;
    			}
    			.treatment-name{
    				padding-right:60px;
    				padding-left:22px;
    				display:inline-block;
                    font-weight:500;
    			}
    		}
    	}
    }
    #receipt-container{
    	position: fixed;
    	background:#fff;
    	bottom:10px;
    	right:10px;
    	padding:0 10px;
    	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    	p{
    		font-family: $f-sans-serif-text;
    		font-size:12px;
    		margin:0;
    		width:100px;
    		float:left;
    		line-height:1.2em;
    	}
    	h5{
    		font-size:24px;
    		color:$nhsLightBlue;
    		margin:0;
    		float:right;
    		width:100px;
    		text-align:right;
    		line-height:1em;
    		font-weight:500;
    	}
    	#total-number{
    		overflow:hidden;
    		padding:12px 0;
    	}

    	#total-breakdown{
    		display:none;
    	}

    	.breakdown-list{
    		padding:0;
    		margin:0;
    		
    		li{
    			list-style:none;
    			font-size:12px;
    			font-family: $f-sans-serif-text;
    			color:#333;
    			margin:0 0 8px;
    			line-height:1em;

    			&:first-child{
    				padding-top:12px;
    				border-top: 1px dashed #fff;
    			}
    			&:last-child{
    				padding-bottom:12px;
    			}

    			&:after{
    				clear:both;
    				display:block;
    				content: '';
    			}

    			.breakdown-name{
    				float:left;
    				width:150px;
    			}

    			.breakdown-price{
    				font-weight:bold;
    				float:right;
    				width:50px;
    				text-align: right;
    			}
    		}
    	}
    }
    @media(min-width:breakpoints(mobileLandscape)){
    	 #interactive-header{
        	padding-left:20px;
        	padding-right:20px;
            #header-details-container{
                margin-left:-20px;
                margin-right:-20px;
                p{
                    margin-left:20px;
                    margin-right:20px;
                }
            }
        }

        #interactive-content{
	    	padding:0 20px;
	    }

	    #questions-container{
	    	.question-container{
	    		&.order-0{
	    			margin-right:80px;
	    		}
	    		&.order-1{
	    			margin-left:80px;
	    		}
	    		h3{
	    			font-size:20px;
	    		}
	    		h4{
	    			font-size:14px;
	    		}
	    	}
	    	.treatment-list{
	    		li{
	    			font-size:16px;
                    padding:14px 0;
	    			.treatment-radio-button{
	    				width:14px;
	    				height:14px;
                        margin-top:-7px;
	    				&:before{
	    					width:8px;
	    					height:8px;
	    				}
	    			}
                    .treatment-price{
                        top:14px;
                    }
	    		}
	    	}
	    }
    }

    @media ( min-width: breakpoints(phablet) ) {
        #interactive-header{
        	h1{
        		font-size:24px;
        	}
        	h2{
        		font-size:60px;
        	}
        }

        #questions-container{
        	margin-right:240px;
        }

	    .treatment-list{
    		li{
    			font-size:16px;
    			padding: 14px 0;
    		}
    	}
    	#receipt-holder{
    		position: absolute;
    		right:20px;
    		top:61px;
    		width:220px;
            transition:opacity 200ms;
    	}
    	#receipt-container{
    		width:220px;
    		bottom:auto;
    		position:absolute;
    		right:auto;
            box-shadow:none;
            background:#DAE3E7;
            #total-number{
                padding: 20px 0;
            }
    		#total-breakdown{
    			display:block;	
    		}
    		&.sticky{
    			position:fixed;
    			top:10px;
    		}
    		
    	}
    }

    @media ( min-width: breakpoints(tablet) ) { //740px
		#questions-container{
	    	max-width:460px;
	    	.question-container .question-intro{
	    		padding-left:20px;
	    		padding-right:20px;
	    	}
	    }
    }

    @media ( min-width: breakpoints(desktop) ) {
    	#interactive-header{
    		h1,h2,#intro-text{
    			margin-left:80px;
                max-width:540px;
    		}
            #header-details-container{
                padding-top:12px;
            }
            #header-details-container p{
                font-size:20px;
                margin-left:100px;
                max-width:540px;
            }
            #intro-text{
                margin-top:36px;
            }
    	}
    	#questions-container{
	    	max-width:620px;
	    	#title-question{
	    		padding-left:80px;
	    		margin-bottom:48px;
	    		h2{
                    font-size:20px;
	    		}
	    		p{
	    			font-size:16px;
	    		}
	    	}
	    	.treatment-list{
	    		column-count:2;
	    		column-gap: 40px;
	    		li{
	    			-webkit-column-break-inside: avoid;
	    		}
	    	}
	    }
	    #receipt-holder{
	    	width:300px;
            top:85px;
	    }
	    #receipt-container{
	    	width:300px;
	    }
	    #receipt-container{ 
	    	.breakdown-list li .breakdown-name{
				width:230px;
			}
			#total-number{
				p{
					font-size:14px;
					width:120px;
				}
				h5{
					font-size:28px;
					width:140px;
				}
			}
		}

    }

    @media ( min-width: breakpoints(leftCol) ) { //1140px
    	#interactive-header{
           
    		h2{
    			font-size:60px;
    			max-width:680px;
    		}

            #intro-text{
                max-width:680px;
                font-size:20px;
            }

            #header-details-container p{
                font-size:24px;
                max-width:680px;
                select{
                    margin-bottom:8px;
                }
            }
    	}
    	#questions-container{
	    	max-width:780px;

            #title-question{
                h2{
                    font-size:24px;
                }
            }

	    	.question-container{
	    		h3{
	    			font-size:24px;
	    		}
	    		.question-intro{
	    			padding:36px 20px 36px 20px;
	    		}
	    		.question-radio-button{
	    			width:31px;
	    			height:31px;
	    			margin-top:-16px;
	    			&:before{
	    				margin-left:3px;
	    				margin-top:3px;
	    				width:23px;
	    				height:23px;
	    			}
	    		}
	    		.hidden-container{
	    			padding-left:20px;
	    			padding-right:20px;
	    		}
	    	}
	    	.treatment-list{
	    		li{
	    			padding:16px 0;
	    			font-size:18px;
	    			.treatment-price{
	    				top:18px;
	    			}
	    			.treatment-name{
	    				padding-top:2px;
	    				padding-left:30px;
	    			}
	    			.treatment-radio-button{
	    				width:18px;
	    				height:18px;
	    				border-radius:20px;
                        margin-top:-9px;
	    				&:before{
	    					width:12px;
	    					height:12px;
	    					margin-left:2px;
	    					margin-top:2px;
	    				}
	    			}
	    		}
	    	}
	    }
    }

    @media ( min-width: breakpoints(wide) ) {
    	#interactive-header{
            padding-top:24px;
             h1{
                position:absolute;
                font-size:20px;
                left:20px;
                margin:0;
            }
    		h2,#intro-text{
    			margin-left:240px;
    		}
            #header-details-container p{
                margin-left:260px;
            }
    	}

    	#questions-container{
	    	margin-left:160px;
	    }
	    #receipt-holder{
	    	right:20px;
	    }
    }
}


@keyframes appear{
	0%{
		opacity:0;
		position:absolute;
	}
	60%{
		opacity:0;
		position:absolute;
	}
	65%{
		opacity:0;
		position:relative;
	}
	85%{
		opacity:1;
	}
}

@keyframes disappear{
	0%{
		opacity:1;
		position:relative;
	}
	20%{
		opacity:0;
		position:absolute;
	}
}
